name: Hello World

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on:
      - linux001
      - selfhosted-runner-linux
      - X64
      - Linux
      - selfhosted-runner-linux-001
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job1 message
        run: echo "Job1 running on self-hosted runner"
  job2:
    runs-on:
      - self-hosted
      - selfhosted-runner-linux
      - X64
      - Linux
      - selfhosted-runner-linux-001
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job2 message
        run: echo "Job2 running on self-hosted runner"
