name: Hello World

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on:
      - self-hosted
      # These are the default labels for your runner
      - Linux
      - X64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job1 message
        run: echo "Job1 running on self-hosted runner"
  job2:
    runs-on:
      - self-hosted
      # These are the default labels for your runner
      - Linux
      - X64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Job2 message
        run: echo "Job2 running on self-hosted runner"
