name: Hello World

on:
  workflow_dispatch:

jobs:
  say_hello:
    runs-on:
      - self-hosted
      - selfhosted-runner-linux
      - X64
      - Linux
      - selfhosted-runner-linux-001
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Say hello
        run: echo "Hello world from self-hosted runner!"
